---

interface Props {
	variant?: 'primary' | 'secondary' | 'tertiary';
	style?: 'filled' | 'ghost' | 'outline' | 'unstyled';
	class?: string | string[];
	id: string;
}

const { variant = 'primary', style = 'filled', id, class : className } = Astro.props;

const buttonStyleMapper = {
    'filled': 'block text-xl px-4 py-3.5 w-fit font-regular rounded cursor-pointer tracking-wide transition-all',
    'ghost': 'block text-xl px-4 py-3.5 bg-transparent w-fit font-regular rounded cursor-pointer tracking-wide transition-all border',
    'outline': 'block text-xl md:px-4 md:py-3.5 bg-transparent w-fit font-regular rounded cursor-pointer tracking-wide transition-all border',
    'unstyled': 'block text-xl px-4 py-3.5 bg-transparent w-fit font-regular cursor-pointer',
};

const buttonVariantMapper = {
    'primary': {
        'filled': 'bg-primary-base text-white hover:outline-primary-600 active:bg-primary-200 dark:text-primary-100 dark:hover:outline-primary-100 dark:active:bg-primary-600',
        'ghost': 'text-primary-base border-primary-base hover:bg-primary-100 hover:outline-primary-600 active:bg-primary-200 dark:text-primary-100 dark:hover:outline-primary-100 dark:active:bg-primary-600',
        'outline': 'text-primary-base border-primary-base hover:bg-primary-100 hover:outline-primary-600 active:bg-primary-200 dark:text-primary-100 dark:hover:outline-primary-100 dark:active:bg-primary-600',
        'unstyled': '',
    },
    'secondary': {
        'filled': 'bg-secondary-base text-white hover:outline-secondary-600 active:bg-secondary-200 dark:text-primary-100 dark:hover:outline-primary-100 dark:active:bg-secondary-600',
        'ghost': 'text-secondary-base border-secondary-base hover:bg-secondary-100 hover:outline-secondary-600 active:bg-secondary-200 dark:text-primary-100 dark:hover:outline-primary-100 dark:active:bg-secondary-600',
        'outline': 'text-secondary-base border-secondary-base hover:bg-secondary-100 hover:outline-secondary-600 active:bg-secondary-200 dark:text-primary-100 dark:hover:outline-primary-100 dark:active:bg-secondary-600',
        'unstyled': '',
    },
    'tertiary': {
        'filled': 'bg-tertiary-base text-white hover:outline-tertiary-600 active:bg-tertiary-200 dark:text-primary-100 dark:hover:outline-primary-100 dark:active:bg-tertiary-600',
        'ghost': 'text-tertiary-base border-tertiary-base hover:bg-tertiary-100 hover:outline-tertiary-600 active:bg-tertiary-200 dark:text-primary-100 dark:hover:outline-primary-100 dark:active:bg-tertiary-600',
        'outline': 'text-tertiary-base border-tertiary-base hover:bg-tertiary-100 hover:outline-tertiary-600 active:bg-tertiary-200 dark:text-primary-100 dark:hover:outline-primary-100 dark:active:bg-tertiary-600',
        'unstyled': '',
    },
};

---

<button class:list={['text-body-1 font-medium', buttonStyleMapper[style], buttonVariantMapper[variant][style], className]} id={id}>
	<slot />
</button>

