---

interface Props {
	variant?: 'primary' | 'secondary' | 'tertiary';
	style?: 'filled' | 'ghost' | 'outline' | 'unstyled';
	id: string;
	children: any;
}

const { variant = 'primary', style = 'filled', id } = Astro.props;

const buttonStyleMapper = {
	'filled': '',
	'ghost': '',
	'outline': '',
	'unstyled': '',
}

const buttonVariantMapper = {
	'primary': '',
	'secondary': '',
	'tertiary': '',
}

---

<button class:list={['text-body-1 font-medium', buttonStyleMapper[style], buttonVariantMapper[variant]]} id={id}>
	<slot />
</button>

