---

import Layout from '../layouts/Layout.astro';

---

<Layout title="Blog | Atish">
	<section class="w-full text-left">
		<h1 class="text-subtitle-1 font-bold text-secondary-800 mb-4">Blog:</h1>

		<p class="font-medium text-body-1">For now, I don't have anything much to show but I promise I will add more content in the future! :)</p>
	</section>
</Layout>


