---

import Layout from '../layouts/Layout.astro';

---

<Layout title="Contact Me | Atish">
	<section class="w-full text-left">
		<h1 class="text-subtitle-1 font-bold text-secondary-800 mb-4">Contact Me</h1>

		<p class="text-body-1 font-medium">
			For any queries, please contact me at <a href="mailto:atishaya7777@gmail.com" class="font-bold hover:underline">atishaya7777@gmail.com</a>.
		</p>

		<p class="text-body-1 font-medium">I would love to connect with you and hear your thoughts and opinions on anything. Feel free to reach out to me on <a href="https://github.com/Atishaya7777" target="_blank" class="font-bold hover:underline">Github</a> and <a href="https://www.linkedin.com/in/atishaya-maharjan07" target="_blank" class="font-bold hover:underline">LinkedIn</a>!</p>.
	</section>
</Layout>


