---
import type { INavLink } from './types';

import './navlink.css';

interface Props extends INavLink {
	variant?: 'header' | 'footer';
}

const { url = '', label = '', variant = 'header' } = Astro.props;
---
<a href={url} class="cursor-pointer">
	<div class:list={["block text-base md:text-lg px-4 py-3 w-full md:w-fit font-medium tracking-wide cursor-pointer transition-all duration-300 border border-transparent hover:border-primary-600 dark:hover:border-primary-400 hover:bg-secondary-100 dark:hover:bg-secondary-800 hover:shadow-sm rounded-sm", variant === 'header' ? "text-primary-800 dark:text-white" : "text-primary-100", "navlink" ]}>
		{label}
	</div>
</a>
