---
interface Props {
	url: string;
	label?: string;
	children?: any;
}

const { url = '', label = '' } = Astro.props;
---
<a href={url}>
	<div class="block text-xl text-primary-600 px-4 py-3.5 bg-transparent w-fit font-regular rounded cursor-pointer outline outline-1 outline-transparent hover:outline-primary-600 hover:transition-all ml-5 mt-5 active:bg-primary-200 dark:text-primary-100 dark:hover:outline-primary-100 dark:active:bg-primary-600">
		{label}
	</div>
</a>
