---

import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';


interface Props {
	imgPos?: string;
	img: ImageMetadata;
	imgAlt: string;
	heading: string;
	body: string[];
}

const { imgPos = 'left', img, imgAlt, heading, body } = Astro.props;

---

<section class:list={["flex flex-col justify-center md:justify-start lg:flex-row items-center gap-6 md:gap-10", imgPos === 'right' && "flex-row-reverse"]}>
	<div>
		<h1 class="text-subtitle-2 md:text-subtitle-1 font-bold text-secondary-800">{heading}</h1>
			{body.length > 0 && body.map((text: string) => <p class="text-base md:text-body-1 leading-6 md:leading-7 font-medium mt-6" set:html={text}></p>)}
		<slot />
	</div>
	<Image src={img} alt={imgAlt} class="w-64 h-64 hidden md:block" />
</section>
