.hero-logo {
	stroke: theme('colors.primary.60');
	stroke-width: 1;
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
}

::selection {
	background: theme('colors.secondary.10');
	color: theme('colors.primary.60');
}
